body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  padding: 25px;
  background-color: #1f2223;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #dfe6e9;
  margin: 0;
}

h2 {
  font-size: 3rem;
  color: #2ec2b0;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.cardContainer > .card {
  max-width: 320px;
  min-height: 300px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #dfe6e9;
  transition: all 300ms ease-in-out;
}

.cardContainer > .card > dt {
  margin-bottom: 20px;
  color: #2ec2b0;
  line-height: 1;
}

.cardContainer > .card > dt > span {
  font-weight: bold;
  font-size: 200%;
}

span.emoji {
  display: block;
  padding: 0 0 10px;
  font-size: 400%;
}

dd {
  margin: 0;
}

@media only screen and (min-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 4rem;
  }
  .cardContainer {
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 90%;
    margin: 0 auto;
  }
  .cardContainer > .card {
    max-width: 360px;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}