body {
  margin: 0;
  padding: 20px;
  background: rgb(40, 40, 40);
  color: rgb(220, 220, 220);
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

h1 {
  display: inline-block;
  margin: 0;
  padding-bottom: 4px;
  font-size: 1.5rem;
  border-bottom: 2px solid lime;
  text-transform: uppercase;
}

span.redTxt {
  color: royalblue;
}

span.regSign {
  position: relative;
  left: 1px;
}

span.degSign {
  position: relative;
  left: 2px;
}