*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 25px;
  background-color: #1f2223;
  text-align: center;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #dfe6e9;
  margin-bottom: 1.6rem;
}

.getAdviceButton {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #dfe6e9;
  background-color: #2ec2b0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.advice {
  margin-top: 1.6rem;
  font-size: 2rem;
  color: #2ec2b0;
}

.adviceCount {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  color: #2ec2b0;
}

@media only screen and (min-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
}